<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuan.demomybatis.system.dao.ResourceMapper">
    <select id="selectListByCondition" resultType="com.yuan.demomybatis.system.pojo.SysResource">
        select id,
        createDate,
        updateDate,
        createUser,
        updateUser,
        name,
        url,
        icon,
        parent,
        level
        from sys_resource sr
        where 1 = 1
        <if test="name != null and name != ''">
            and name like concat('%',#{name} ,'%')
        </if>
        <if test="createUser != null and createUser != ''">
            and createUser in (select id from sys_user su where su.name like concat('%',#{createUser} ,'%') or su.name
            like concat('%',#{createUser} ,'%'))
        </if>
        <if test="updateUser != null and updateUser != ''">
            and updateUser in (select id from sys_user s where s.username like concat('%',#{updateUser} ,'%') or s.name
            like concat('%',#{updateUser} ,'%'))
        </if>
        <if test="createDate != null">
            and date (createDate) = date (#{createDate} )
        </if>
        <if test="createDateStart != null">
            <![CDATA[and date (createDate) >= date (#{createDateStart} )]]>
        </if>
        <if test="createDateEnd != null">
            <![CDATA[and  date (createDate) <= date (#{createDateEnd} )]]>
        </if>
        <if test="updateDate != null">
            and date (updateDate) = date (#{updateDate} )
        </if>
        <if test="updateDateStart != null">
            <![CDATA[and date (updateDate) >= date (#{updateDateStart} )]]>
        </if>
        <if test="updateDateEnd != null">
            <![CDATA[and date (updateDate)<= date (#{updateDateEnd} )]]>
        </if>
        order by createDate desc
    </select>
</mapper>
