<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuan.demomybatis2.system.dao.AuthorityMapper">
    <sql id="dtoSQL">
        select id, createDate, updateDate, createUser, updateUser
        from sys_authoriry sa
        where 1 = 1
        <if test="name != null and name != ''">
            and name like concat('%',#{name} ,'%')
        </if>
        <if test="createUser != null and createUser != ''">
            and createUser in (select id from sys_user su where su.name like concat('%',#{createUser} ,'%') or
            su.username like concat('%',#{createUser} ,'%'))
        </if>
        <if test="updateUser != null and updateUser != ''">
            and updateUser in (select id from sys_user s where s.name like concat('%',#{updateUser} ,'%') or s.username
            like concat('%',#{updateUser} ,'%'))
        </if>
        <if test="createDate != null">
            and date (createDate) = date (#{createDate} )
        </if>
        <if test="createDateStart != null">
            <![CDATA[and date (createDate)>=date (#{createDateStart} )]]>
        </if>
        <if test="createDateEnd != null">
            <![CDATA[and date (createDate) <= date (#{createDateEnd} )]]>
        </if>
        <if test="updateDate != null">
            and date (updateDate) = date (updateDate)
        </if>
        <if test="updateDateStart != null">
            <![CDATA[and date (updateDate) >= date (#{updateDateStart} )]]>
        </if>
        <if test="updateDateEnd != null">
            <![CDATA[and date (updateDate) <= date (#{updateDateEnd} )]]>
        </if>
        order by createDate desc
    </sql>
    <select id="selectPage" resultType="com.yuan.demomybatis2.system.pojo.SysAuthority">
        <include refid="dtoSQL"/>
    </select>
    <select id="selectList" resultType="com.yuan.demomybatis2.system.pojo.SysAuthority">
        <include refid="dtoSQL"/>
    </select>
    <select id="check" resultType="java.lang.Integer">
        select count(*)
        from sys_authoriry sa
        where sa.name = #{name};
    </select>
</mapper>
