<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuan.demomybatis2.system.dao.RoleMapper">
    <select id="selectPage" resultType="com.yuan.demomybatis2.system.pojo.SysRole">
        select id,
        createDate,
        createUser,
        updateDate,
        updateUser,
        name
        from sys_user su
        where 1 = 1
        <if test="dto.name != null and dto.name != ''">
            and (name like concat('%',#{dto.name} ,'%') or username like concat('%',#{dto.name} ,'%'))
        </if>
        <if test="dto.createUser != null and dto.createUser != ''">
            and createUser in (select id from sys_user s where s.username like concat('%',#{dto.createUser} ,'%') or
            s.name like concat('%',#{dto.createUser} ,'%'))
        </if>
        <if test="dto.updateUser != null and dto.updateUser != ''">
            and updateUser in (select id from sys_user u where u.username like concat('%',#{dto.updateUser} ,'%') or
            u.name like concat('%',#{dto.updateUser} ,'%'))
        </if>
        <if test="dto.createDate != null">
            and date (createDate) = date (#{dto.createDate} )
        </if>
        <if test="dto.createDateStart != null">
            <![CDATA[and date (createDate) >= date (#{dto.createDateStart} )]]>
        </if>
        <if test="dto.createDateEnd != null">
            <![CDATA[and date (createDate) <= date (#{dto.createDateEnd} )]]>
        </if>
        <if test="dto.updateDate != null">
            and date (updateDate) = date (#{dto.updateDate} )
        </if>
        <if test="dto.updateDateStart != null">
            <![CDATA[and date (updateDate) >= date (#{dto.updateDateStart} )]]>
        </if>
        <if test="dto.updateDateEnd != null">
            <![CDATA[and date (updateDate) <= date (#{dto.updateDateEnd} )]]>
        </if>
        order by createDate desc
    </select>
</mapper>
